.formdatalis {
  color: white;
}

.ant-form-item-label > label {
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

.ant-radio-wrapper {
  color: white;
}

.radio_btn_antd {
  margin-bottom: 20px;
}
